# Secretes
.env

# Setup
claude_credentials_setup

# Data
*.csv
*.tsv

# Python
__pycache__/
.pytest_cache/

# Workflow output
work/
*.egg-info/
build/
dist/
.ruff_cache/

# Node
node_modules/

# Agentic Development
PLAN*.md

# Datasets
sdrf-annotations
